<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunsy.MysqlToPostgresql.postgresql.gvpermission.mapper.PgGroupTypeMapper" >
    
    <update id="createNewTable">  
		DROP TABLE IF EXISTS "public"."base_group_type";
		CREATE TABLE "public"."base_group_type" (
		"id" int4 NOT NULL,
		"code" varchar(255) COLLATE "default",
		"name" varchar(255) COLLATE "default",
		"description" varchar(255) COLLATE "default",
		"crt_time" timestamp(0),
		"crt_user" varchar(255) COLLATE "default",
		"crt_name" varchar(255) COLLATE "default",
		"crt_host" varchar(255) COLLATE "default",
		"upd_time" timestamp(0),
		"upd_user" varchar(255) COLLATE "default",
		"upd_name" varchar(255) COLLATE "default",
		"upd_host" varchar(255) COLLATE "default",
		"attr1" varchar(255) COLLATE "default",
		"attr2" varchar(255) COLLATE "default",
		"attr3" varchar(255) COLLATE "default",
		"attr4" varchar(255) COLLATE "default",
		"attr5" varchar(255) COLLATE "default",
		"attr6" varchar(255) COLLATE "default",
		"attr7" varchar(255) COLLATE "default",
		"attr8" varchar(255) COLLATE "default"
		)
		WITH (OIDS=FALSE)
		
		;
		COMMENT ON COLUMN "public"."base_group_type"."code" IS '编码';
		COMMENT ON COLUMN "public"."base_group_type"."name" IS '类型名称';
		COMMENT ON COLUMN "public"."base_group_type"."description" IS '描述';
		COMMENT ON COLUMN "public"."base_group_type"."crt_time" IS '创建时间';
		COMMENT ON COLUMN "public"."base_group_type"."crt_user" IS '创建人ID';
		COMMENT ON COLUMN "public"."base_group_type"."crt_name" IS '创建人';
		COMMENT ON COLUMN "public"."base_group_type"."crt_host" IS '创建主机';
		COMMENT ON COLUMN "public"."base_group_type"."upd_time" IS '最后更新时间';
		COMMENT ON COLUMN "public"."base_group_type"."upd_user" IS '最后更新人ID';
		COMMENT ON COLUMN "public"."base_group_type"."upd_name" IS '最后更新人';
		COMMENT ON COLUMN "public"."base_group_type"."upd_host" IS '最后更新主机';
		ALTER TABLE "public"."base_group_type" ADD PRIMARY KEY ("id");
    </update> 
    
    <insert id="insert" parameterType="com.sunsy.MysqlToPostgresql.entity.GroupType">
    insert into base_group_type (id, code, name, 
      description, crt_time, crt_user, 
      crt_name, crt_host, upd_time, 
      upd_user, upd_name, upd_host, 
      attr1, attr2, attr3, 
      attr4, attr5, attr6, 
      attr7, attr8)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{crt_time,jdbcType=TIMESTAMP}, #{crt_user,jdbcType=VARCHAR}, 
      #{crt_name,jdbcType=VARCHAR}, #{crt_host,jdbcType=VARCHAR}, #{upd_time,jdbcType=TIMESTAMP}, 
      #{upd_user,jdbcType=VARCHAR}, #{upd_name,jdbcType=VARCHAR}, #{upd_host,jdbcType=VARCHAR}, 
      #{attr1,jdbcType=VARCHAR}, #{attr2,jdbcType=VARCHAR}, #{attr3,jdbcType=VARCHAR}, 
      #{attr4,jdbcType=VARCHAR}, #{attr5,jdbcType=VARCHAR}, #{attr6,jdbcType=VARCHAR}, 
      #{attr7,jdbcType=VARCHAR}, #{attr8,jdbcType=VARCHAR})
  </insert>
    
    
</mapper>