<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunsy.MysqlToPostgresql.mysql.gvpermission.mapper.UserMapper">
    <select id="getUsers" parameterType="map" resultType="com.sunsy.MysqlToPostgresql.entity.User">
        select * from base_user
    </select>
</mapper>